In [1]:
import os
os.chdir("../../..")
import Ipynb_importer

In [2]:
from env import *

importing Jupyter notebook from env.ipynb
importing Jupyter notebook from D:\My work\Python\py_etl\sources\public_fun.ipynb
2019-11-29
2019-11-29 17:48:27

In [3]:
%pwd

'D:\\My work\\Python\\py_etl'

In [4]:
conn = mysql_on("tinydata","sakila")

{'host': '192.168.23.3', 'port': 3306, 'user': 'tinydata', 'password': '3990240zZ.'}
sakila

In [ ]:
sql = "select * from "
data = pd.read_sql(sql,conn)