In [1]:
# 定义工作目录
import os
os.chdir("../../..")

# 载入环境文件
import Ipynb_importer
from env import *

importing Jupyter notebook from env.ipynb
importing Jupyter notebook from D:\My work\Python\py_etl\sources\public_fun.ipynb
DATE :  2019-11-30
DATETIME :  2019-11-30 11:37:59

In [2]:
%pwd

'D:\\My work\\Python\\py_etl'

In [3]:
conn = mysql_on("tinydata","sakila")

{'host': '192.168.23.3', 'port': 3306, 'user': 'tinydata', 'password': '3990240zZ.'}
sakila

In [ ]:
sql = "select * where day = {DATE} from "
data = pd.read_sql(sql,conn)